Checks: >
  bugprone-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  llvm-*,
  misc-*,
  modernize-*,
  performance-*,
  readability-*,

  -bugprone-easily-swappable-parameters,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-type-union-access,
  -misc-include-cleaner,
  -modernize-use-trailing-return-type,
  -readability-magic-numbers,
  -readability-identifier-length,
  -readability-static-accessed-through-instance,
  -readability-function-cognitive-complexity,

CheckOptions:
  - key: misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
    value: true

WarningsAsErrors: "*"

HeaderFilterRegex: ".*"
ExcludeHeaderFilterRegex: "^.*/((tinyusb|usb|generated)/.*|ssd1306\\.h)$"

FormatStyle: "file"